div {
    margin: 10px;
    background: blue;
    color: white;
}

.none {
    display: none;
}

.opacity {
    opacity: 1;

}

.opacity-5 {
    opacity: 0.5;
}

.opacity-0 {
    opacity: 0.1;
}

.visibility {
    visibility: hidden;
}