* {
    color: red;
}

#heading {
    font-size: 40px;
    text-transform: uppercase;
    color: blue;
}

.heading {
    font-size: 20px;
    text-transform: capitalize;
    color: green;
}

p {
    letter-spacing: 20px;
}

/*дочерний h1 по отношению к div*/
div h1 {
    color: yellow;
}

/*следующий тег h1 после div, если такой имеется в html*/
div > h1 {
    color: blue
}