.buttons {
    margin: 3em;

}

a {
    background-color: green;
    text-decoration: none;
    color: black;
    padding: 1.2em 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 20px;
}

#one {
    border: 0.2rem solid black;
}

#two {
    outline-width: 0.2rem;
    outline-style: solid;
    outline-color: black;
    /*outline: 0.2rem solid black;*/
    /*outline-offset: 10px;*/
    outline-offset: -10px;
}