p::before {
    content: "BEFORE ";
    color: red;
    font-size: 2em;
    background: black;
}

p::after {
    /*content: " AFTER";
    color: red;
    font-size: 2em;*/
    content: "";
    background: green;
    display: block;
    width: 50px;
    height: 50px;
}

div {
    width: 60vw;
    margin: 100px auto;
    border: red solid 5px;
    position: relative;
}

img {
    width: 100%;
    display: block;
}

div::before {
    content: "";
    border: 3px solid gray;
    width: 100%;
    height: 100%;
    position:absolute;
    box-sizing: border-box;
    top: -40px;
    left: -40px;
    z-index: -2;
    transition: all 0.5s linear;
}

div::after {
    content: "";
    background: gray;
    width: 100%;
    height: 100%;
    position:absolute;
    box-sizing: border-box;
    top: -20px;
    left: -20px;
    z-index: -1;
    transition: all 0.5s linear;
}

div:hover::after, div:hover::before {
    top: 0;
    left: 0;
}