div {
    width: 200px;
    height: 100px;
    margin: 10px;
    color: white;
}

.transition {
    background: red;
    transition: all 2s linear;
}

.transition:hover {
    background: yellow;
    transform: translateX(100px);
}

.animation {
    background: blue;
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
}

@keyframes move {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }
    25% {
        transform: translateX(200px);
        opacity: 0.25;
    }
    50% {
        transform: translateX(-100px);
        background: red;
        opacity: 1;
    }
    75% {
        transform: translateX(200px);
        background: yellow;
        opacity: 0.5;
    }
    100% {
        transform: translateX(0px);
        background: green;
        opacity: 0;
    }
}